{
    "presets": [
        "es2015",
        "stage-0"
    ],
    "plugins": [
        "transform-runtime",
        "array-includes",
        [
            "component",
            {
                "libraryName": "weex-ui",
                "libDir": "packages",
                "style": false
            }
        ]
    ]
}